@import '../../styles/vars';

.remove-btn{
  text-align: center;
  margin-top: 20px;
  border: none;
  background-color: transparent;

  position: relative;
  padding: 20px 50px;
  text-transform: uppercase;
  width: 250px;
  overflow: hidden;
  border-radius: 40px;
  font-weight: 500;
  font-size: 21px;
  cursor: pointer;

  &:hover{
    .liquid {
      top: -215px;
      background-color: $yellow;
    }
    span{
      color: $dark-pink;
    }
  }

  span{
    position: relative;
    color: #fff;
    font-size: 20px;
    z-index: 1;
  }

  .liquid{
    position: absolute;
    top: -80px;
    left: 0;
    width: 250px;
    height: 280px;
    background: $pink; 
    box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
    transition: 0.5s;

    &::after,
    &::before{
      content: '';
      width: 200%;
      height: 200%;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -75%);
      background: #000;
    }

    &::before{
      border-radius: 45%;
      background: $dark-pink;
      animation: animate 5s linear infinite;
    }

    &::after{
      border-radius: 40%;
      background: rgba(20, 20, 20, 0.3);
      animation: animate 10s linear infinite;
    }
  }
}

@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}
